*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    height: 100vh;
    font-family: carton;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
 }

 .Heading {
     font-size: 10rem;
     font-weight: 900;
     background-image: url(https://images.pexels.com/photos/4164761/pexels-photo-4164761.jpeg?auto=compress&cs=tinysrgb&w=600); 
     background-size:cover;
     background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
 }